.bkg {
    background: url("/img/astronauts/bg2.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
  }

.astro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.astroMainImg{

  border-radius: 50%;
 margin: 40px;
 border: 2px solid #7ec0ee;
 width:380px;
 height:450px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.space-exp{
  width: 500px;
  height: 500px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
  width: 800px;
}

.p-heading{
  margin-left: 200px;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
  font-family: 'Roboto', sans-serif;
}
.name{
  color: #7ec0ee;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-shadow: 0.5px 0.5px #000;
  
}
.name-link{
  text-decoration: none;
}

.checkbox{
  margin-left: 20px;
}

.chk-heading{
  margin-left: 200px;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
  font-family: 'Roboto', sans-serif;
  display:inline;

}
