body {
  margin: 0;
}

#toTop {
  font-family: 'Monoton', cursive;
  width: 100px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 25px;
  top: 130px;
  right: 30px;
}

.navTop {
  background-color: rgba(244, 183, 0, 0.6);
  box-shadow: inset 0px -90px 90px -80px rgba(230, 55, 55, 1);
  border-radius: 30px;
  width: 1250px;
}

.navTop:hover {
  color: Yellow;
  background-color: rgba(244, 183, 0, 1);
}

#bb8 {
  position: absolute;
  width: 100px;
  top: 110px;
  right: 90px;
}

.mainIndexBody {
  background: url("/background/background.png")no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: 2.5s ease-out;
}

a {
  text-decoration: none;
}

.mainIndexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.textContainer {
  text-align: center;
}

.title {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  transition: all 0.2s linear;
  font-family: 'Monoton', cursive;
  color: gold;
  text-shadow: 2px 2px 2px red;
  display: inline-block;
}

.title:hover {
  filter: drop-shadow(1px 3px 5px gold);
}

.indexImageContainer {
  width: 20%;
  min-width: 200px;
}

#astroMainIndex, #planetMainIndex, #apodMainIndex {
  width: 0px;
  transition: 0.5s ease-in;
  opacity: 0;
}

#apodMainIndex{
  border-radius: 80px;
  margin-top: 30px;
}

#astroMainIndex:hover~.indexName {
  visibility: visible;
}

#planetMainIndex:hover+.indexName {
  visibility: visible;
}

#apodMainIndex:hover+.indexName {
  visibility: visible;
}

.hiddenImageContainer {
  position: relative;
}

#astroHiddenIndex {
  width: 1px;
  position: relative;
}

#astroWindowIndex {
  width: 100%;
  min-width: 600px;
  bottom: -350px;
  position: absolute;
}

.indexName {
  visibility: hidden;
  color: white;
  text-align: center;
  font-family: 'Monoton', cursive;
  filter: drop-shadow(1px 1px 4px black);
}
