.planet-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
}

.planet-body h1 {
  background: black;
  color: lightskyblue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.planet-container img {
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

.planet-content {
  padding-top: 20px;
  border-top: solid 4px lightskyblue;
  border-left: solid 2px lightskyblue;
  border-right: solid 2px lightskyblue;
}

.planet-content p {
  margin-left: 10px;
  text-align: left;
  color: white;
}

.planet-bio {
  height: 80%;
  background-color: black;
}

.planet-bio strong {
  color: lightskyblue;
}
