/*Index Page*/
@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(75px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

@keyframes myOrbit1 {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

@keyframes myOrbit2 {
  from {
    transform: rotate(0deg) translateX(125px)rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}

@keyframes myOrbit3 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes myOrbit4 {
  from {
    transform: rotate(0deg) translateX(230px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(230px) rotate(-360deg);
  }
}

@keyframes myOrbit5 {
  from {
    transform: rotate(0deg) translateX(280px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(280px) rotate(-360deg);
  }
}
@keyframes myOrbit6 {
  from {
    transform: rotate(0deg) translateX(330px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(330px) rotate(-360deg);
  }
}
@keyframes myOrbit7 {
  from {
    transform: rotate(0deg) translateX(380px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(380px) rotate(-360deg);
  }
}
.planet-index-container {
  padding-top: 10px;
  padding-left: 10px;
  height: 120vh;
  background: url("/background/background.png")no-repeat center;
}

.planetIntro {
  color: lightskyblue;
}

.planetMenu {
  width: 50px;
  padding: 10px 20px 10px 10px;
  background-color: gold;
  filter: drop-shadow(1px 3px 10px gold);
  transition: filter .5s;
  border: 2px solid gold;
  border-style: inset;
  border-radius: 15px;
}

.planetMenu img {
  margin-top: 10px;
}

.planetMenu:hover {
  filter: drop-shadow(1px 3px 15px lightskyblue);
}

/*.planetId1 img:hover, .planetId2 img:hover, .planetId3 img:hover, .planetId4 img:hover, .planetId5 img:hover, .planetId6 img:hover, .planetId7 img:hover, .planetId8 img:hover{
  filter: drop-shadow(1px 3px 10px blue);
}*/
.planet img:hover, .planetBrowse img:hover{
  filter: drop-shadow(1px 3px 10px blue);
  transform: rotate(720deg);
}

.planet img {
  top: 551px;
  left: 613px;
  width: 15px;
  height: 15px;
  position: absolute;
}

.planetBrowse img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  transition: transform 8s;
}

.galaxy .planetId1 img {
  animation: myOrbit 4s linear infinite;
}

.galaxy .planetId2 img {
  animation: myOrbit1 5s linear infinite;
}

.galaxy .planetId3 img {
  width: 20px;
  height: 20px;
  animation: myOrbit2 6s linear infinite;
}

.galaxy .planetId4 img {
  width: 20px;
  height: 20px;
  animation: myOrbit3 7s linear infinite;
}

.galaxy .planetId5 img {
  width: 50px;
  height: 50px;
  animation: myOrbit4 8s linear infinite;
}
.galaxy .planetId6 img {
  width: 42px;
  height: 42px;
  animation: myOrbit5 9s linear infinite;
}
.galaxy .planetId7 img {
  width: 36px;
  height: 36px;
  animation: myOrbit6 10s linear infinite;
}
.galaxy .planetId8 img {
  width: 35px;
  height: 35px;
  animation: myOrbit7 11s linear infinite;
}

.star {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  top: 530px;
  left: 598px;
  filter: drop-shadow(1px 3px 15px red);
}


/*Show Page*/

.planet-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLCuSo2idh5q8B6ODVyiVt74Zyupz0FzrgGurgpP8XcjHPJ912OQ");
}

.planet-body h1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLCuSo2idh5q8B6ODVyiVt74Zyupz0FzrgGurgpP8XcjHPJ912OQ");
  color: lightskyblue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  position: absolute;
}

.planet-container img {
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
  transition: transform 5s;
}

.planet-container img:hover {
  transform: rotate(360deg);
}

.planet-content {
  width: 100%;
  padding-top: 20px;
  border: solid 4px gold;
  border-bottom: none;
}

.planet-content p {
  text-align: left;
  margin-left: 10px;
  color: white;
  font-size: 16px;
}

.planet-bio {
  height: 80%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLCuSo2idh5q8B6ODVyiVt74Zyupz0FzrgGurgpP8XcjHPJ912OQ");
}

.strong {
  color: lightskyblue;
}

.moreInfo {
  color: gold;
}
.moreInfo p {
  text-align: left;
  margin-left: 10px;
  color: white;
  font-size: 16px;
}
