<link rel="stylesheet" href="../css/planet.css" />
<div class="planets-wrapper">
  <div class="planet-index-container">
    <h2 class="planetIntro">Click on a planet to learn more.</h2>
    <h6 class="planetIntro"><strong>Note: </strong>Planets are not to scale.</h6>
    <div class="planetMenu">
      <div ng-repeat="planet in vm.planets">
        <hr> {{planet.name}}
        <a class="planetBrowse planetId{{planet.id}}" data-ui-sref="planetShow({id: planet.id})"><img ng-src="{{planet.photo_url}}" /></a>
      </div>
    </div>
    <div class="index_container">
      <img class="star" src="http://imgur.com/O7Jo4wQ.png" alt="star" />
      <div ng-repeat="planet in vm.planets" class="galaxy">
        <a class="planet planetId{{planet.id}} " data-ui-sref="planetShow({id: planet.id})"><img ng-src="{{planet.photo_url}}" /></a>
      </div>
    </div>
  </div>
</div>
